<div
  class="header bg-slate-100 p-2 md:py-4 md:px-20 flex justify-between items-center"
>
  <div class="logo">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/2/2c/OneWeb_Logo.png"
      class="w-36 aspect-auto p-1"
    />
  </div>
  <div class="menu self-center">
    <div class="relative inline-block text-left">
      <div>
        <button
          (click)="toggleMenu = !toggleMenu"
          type="button"
          class="inline-flex justify-center items-center w-full rounded-md px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
          id="menu-button"
          aria-expanded="true"
          aria-haspopup="true"
        >
          <img
            src="{{ host.api.url }}/user/image?name={{ currentUser.image }}"
            class="w-9 md:w-12 mr-2 aspect-square object-cover object-top rounded"
          />
          {{ currentUser.firstName }} {{ currentUser.lastName }}
          <svg
            class="-mr-1 ml-2 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
      <!--  -->
      <div
        *ngIf="toggleMenu"
        class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-200 focus:outline-none"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
      >
        <div class="py-0" role="none">
          <a
            href="#"
            class="text-gray-700 hover:bg-slate-200 block px-4 py-3 text-sm"
            role="menuitem"
            tabindex="-1"
            id="menu-item-0"
          >
            <i class="fa fa-user-circle mr-2" aria-hidden="true"></i>
            Profile
          </a>
          <a
            href="#"
            class="text-gray-700 hover:bg-slate-200 block px-4 py-3 text-sm"
            role="menuitem"
            tabindex="-1"
            id="menu-item-1"
          >
            <i class="fa fa-users mr-2" aria-hidden="true"></i>
            Chat group
          </a>
        </div>
        <div class="py-0" role="none">
          <a
            (click)="logout()"
            class="text-red-800 hover:bg-slate-200 block px-4 py-3 text-sm"
            role="menuitem"
            tabindex="-1"
            id="menu-item-1"
          >
            <i class="fa fa-sign-out mr-2" aria-hidden="true"></i>
            Sign out
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
